#ifgs {
	color: #333;
	font-family: sans-serif;
	width: 258px;
	margin: 0px auto;
	text-align: center;
}

/* Clearfix */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}

/* IFizzGigs Header */

#ifgs #header {
	
}

/* IFizzGigs User Styles */
#ifgs .user, #ifgs .likes {
	border: 1px solid #999;
	border-radius: 2px;
	background-color: #eee;
	width: 236px;
	padding: 10px;
}

#ifgs .user .userName {
	font-weight: bold;
	width: 235px;
}

#ifgs .user img, #ifgs .likes img {
	box-shadow: 0px 0px 5px 1px #999;
	border-radius: 4px;
}

#ifgs .user .userInput {
	border: 1px solid #999;
	background-color: #fff;
	border-radius: 1px;
	width: 160px;
	height: 20px;
	font-size: 16px;
	padding: 4px 8px;
	float: left;
}

#ifgs .user .userInputSubmit {
	width: 30px;
	padding: 3px 8px;
	margin-left: 9px;
	font-size: 14px;
	line-height: 22px;
	color: #fff;
	border: 1px solid #3465a4;
	background-color: #729fcf;
	border-radius: 2px;
	float: left;
	cursor: pointer;
}

/* IFizzGigs Likes Styles */

#ifgs .likes img {
	padding: 3px;
}